<div id="footer">
  <div class="container">
    <p class="text-muted">
      <div class="footer-text">
        <a href="http://ehrns.com"> &copy; 2014 Alex Ehrnschwender</a>
      </div>
    </p>
  </div>
</div>
