<div class="container">
  <div class="page-header">
    <h1 class="font-landing title">TwitterSockets
      <div class="pull-right">
        <a class="btn btn-social btn-lg btn-twitter" href="/auth/twitter">
          <i class="fa fa-twitter"></i> Sign in for your live stream
        </a>
      </div>
    </h1>
  </div>
</div>

